In [5]:
import json
import pandas as pd

In [6]:
with open(r"F:\Packages\jaal\jaal\datasets\got\characters-gender-all.json", 'rb') as f:
    character = json.load(f)
df = pd.read_csv(r"F:\Packages\jaal\jaal\datasets\got\got_book1_edge_df.csv")
df = df.loc[df['weight']>10, :]

In [7]:
node_list = list(set(df['source'].unique().tolist() + df['target'].unique().tolist()))

In [8]:
len(node_list)

80

In [9]:
# character['male']
# node_list
node_df = pd.DataFrame({'name': node_list})

In [10]:
characs = []
for key in character.keys():
    for x in character[key]:
       characs.append({'name': x.replace(" ", "-"), 'gender': key}) 
characs = pd.DataFrame(characs)

In [11]:
# merge charac and 
merged_data = pd.merge(node_df, characs, on='name', how='left')

In [27]:
# merged_data.to_csv("../datasets/got/got_node_df.csv", index=False)
df.loc[:, 'strength'] = 'high'
df.loc[df['weight']<50, 'strength'] = 'medium'
df.to_csv("got_edge_df.csv", index=False)

In [57]:
characs['name'].str.find('Brandon')

0     -1
1     -1
2     -1
3     -1
4     -1
      ..
567   -1
568   -1
569   -1
570   -1
571   -1
Name: name, Length: 572, dtype: int64

In [2]:
x={'a':2, 'b':1}
y={'a':3, 'c':5}
{**x, **y}

{'a': 3, 'b': 1, 'c': 5}

In [22]:
merged_data.columns[merged_data.dtypes == 'object'].tolist()

['name', 'gender']

In [23]:
[1,2,3] - [2,3]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

                              source              target  weight
8    Aemon-Targaryen-(Maester-Aemon)        Jeor-Mormont      13
9    Aemon-Targaryen-(Maester-Aemon)            Jon-Snow      34
16                Aerys-II-Targaryen    Robert-Baratheon      12
17                              Aggo  Daenerys-Targaryen      11
30                    Alliser-Thorne            Jon-Snow      32
..                               ...                 ...     ...
658                   Sandor-Clegane         Sansa-Stark      23
664                             Shae    Tyrion-Lannister      12
666                           Shagga    Tyrion-Lannister      17
676                 Tyrion-Lannister     Tywin-Lannister      40
683                     Waymar-Royce     Will-(prologue)      18

[175 rows x 3 columns]